:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #10375c;
}
*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
body{
    font-family: 'Sora', sans-serif;
    font-size: 1.6rem;
}
.arrow-right__icon{
    margin-left: 10px;
}
.line-clamp{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: var(--line-clamp, 2);
}
.bg-color{
    background-color: var(--bg-color, #0f1b4c);
}
.logo{
    position: relative;
    display: flex;
    font-size: 1rem;
}
.logo-circle::before{
    content: "";
    width: 3em;
    height: 3em;
    background: #2e80ce;
    display: inline-block;
    border-radius: 50%;
}
.logo-circle::after{
    content: "";
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #fff;
}
.logo-text{
    margin-left: 6px;
}
.logo--bg-text{
    display: block;
    font-size: 1.8em;
    font-weight: 400;
    color: #fff;
}
.logo--sm-text{
    display: block;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: right;
}
.btn{
    --height: 60px;
    display: inline-block;
    min-width: 205px;
    height: var(--height);
    padding: 0 20px;
    border-radius: 99px;
    border: 1px solid #2e80ce;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    line-height: var(--height);
    color: #fff;
    background: #2e80ce;
}
.heading-lv1{
    display: block;
    font-weight: 600;
    font-size: 7rem;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #ffffff;
}
.heading-lv2{
    display: block;
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #10375c;
}
.desc-lv1{
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #575f66;
}
.desc-lv2{
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
}
.control{
    display: flex;
    column-gap: 18px;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }}
@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}
@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
